{% extends "common/base.html" %}
{% from "common/macro.html" import show_page %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for("static", filename="editor_md/examples/css/style.css") }}"/>
    <link rel="stylesheet" href="{{ url_for("static", filename="editor_md/css/editormd.preview.css") }}"/>
    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon"/>
    <style>
        .editormd-html-preview {
            width: 90%;
            margin: 0 auto;
        }
    </style>

{% endblock %}
{% block tcontent %}
    <div class="container">
        <div id="test-editormd-view">
            <textarea style="display:none;" name="test-editormd-markdown-doc">###Hello world!</textarea>
        </div>
        <div id="test-editormd-view2">
                <textarea id="append-test" style="display:none;">
{#                    {% filter markdown %}#}
                        {{ blog.content|safe }}
{#                    {% endfilter %}#}

                </textarea>
        </div>


        {{ quick_form(form) }}
        <ul class="list-group" style="margin-top: 30px">
            {% for datum in data %}
                <li class="list-group-item">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img style="width: 80px;height: 80px " class="media-object img-circle"
                                     src="{{ url_for("static", filename="uploads/"+datum.user.photo_name) }}" alt="头像">
                            </a>
                        </div>
                        <div class="media-body">
                            <div style="float: right">
                                {{ moment(datum.timestamp).fromNow() }}
                            </div>
                            <h3 class="media-heading">{{ datum.user.username }}</h3>
                            {{ datum.content }}
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        {{ show_page(pagination, viewFunc) }}
    </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    {#    {{ url_for("static", filename="editor_md/") }}#}
    <script src="{{ url_for("static", filename="editor_md/examples/js/jquery.min.js") }}"></script>
    <script src="{{ url_for("static", filename="editor_md/lib/marked.min.js") }}/"></script>
    <script src="{{ url_for("static", filename="editor_md/lib/prettify.min.js") }}"></script>

    <script src="{{ url_for("static", filename="editor_md/lib/raphael.min.js") }}"></script>
    <script src="{{ url_for("static", filename="editor_md/lib/underscore.min.js") }}"></script>
    <script src="{{ url_for("static", filename="editor_md/lib/sequence-diagram.min.js") }}"></script>
    <script src="{{ url_for("static", filename="editor_md/lib/flowchart.min.js") }}"></script>
    <script src="{{ url_for("static", filename="editor_md/lib/jquery.flowchart.min.js") }}"></script>

    <script src="{{ url_for("static", filename="editor_md/editormd.js") }}"></script>
    <script type="text/javascript">
        $(function () {
            var testEditormdView, testEditormdView2;

            $.get("test.md", function (markdown) {

                testEditormdView = editormd.markdownToHTML("test-editormd-view", {
                    markdown: markdown,//+ "\r\n" + $("#append-test").text(),
                    // htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
                    htmlDecode: "style,script,iframe, h1, h2, h3",  // you can filter tags decode
                    toc: false,
                    tocm: true,    // Using [TOCM]
                    //tocContainer    : "#custom-toc-container", // 自定义 ToC 容器层
                    gfm: false,
                    //tocDropdown     : true,
                    // markdownSourceCode: true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
                    emoji: true,
                    taskList: true,
                    tex: true,  // 默认不解析
                    flowChart: true,  // 默认不解析
                    sequenceDiagram: true,  // 默认不解析
                });

                //console.log("返回一个 jQuery 实例 =>", testEditormdView);

                // 获取Markdown源码
                //console.log(testEditormdView.getMarkdown());

                //alert(testEditormdView.getMarkdown());
            });

            testEditormdView2 = editormd.markdownToHTML("test-editormd-view2", {
                htmlDecode: "style,script,iframe",  // you can filter tags decode
                emoji: true,
                taskList: true,
                tex: true,  // 默认不解析
                flowChart: true,  // 默认不解析
                sequenceDiagram: true,  // 默认不解析
            });
        });
    </script>
{% endblock %}