{% extends "bootstrap/base.html" %}
{% from "bootstrap/wtf.html" import quick_form %}
{% block styles %}
    {{ super() }}
    {#    <link rel="stylesheet" href="{{ url_for("static", filename="css/login.css") }}">#}
{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-inverse">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for("main.index") }}">我的博客</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ url_for("main.index") }}">首页 <span class="sr-only">(current)</span></a></li>
                    <li><a href="{{ url_for("blog.show_blog_list") }}">浏览博客</a></li>
                    <li><a href="{{ url_for("blog.editor_blog") }}">写博客</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                            搜索
                        </button>
                    </form>
                    {% if current_user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">{{ current_user.username }}<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for("blog.show_user_blog") }}">个人博客</a></li>
                                <li><a href="{{ url_for("user.show_info") }}">个人信息</a></li>
                                <li><a href="{{ url_for("user.update_password") }}">修改密码</a></li>
                                <li><a href="{{ url_for("user.update_photo") }}">修改头像</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ url_for("user.logout") }}">退出登录</a></li>
                            </ul>
                        </li>
                        <img style="width: 50px;height: 50px;"
                             src="{{ url_for("static", filename="uploads/" + current_user.photo_name) }}" alt="头像"
                             class="img-circle">
                    {% else %}
                        <li><a href="{{ url_for("user.register") }}">注册</a></li>
                        <li><a href="{{ url_for("user.login") }}">登录</a></li>
                    {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
{% endblock %}
{% block content %}
    {% block tcontent %}
        {% if get_flashed_messages() %}
            <div class=" container alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                {% for message in get_flashed_messages() %}
                    <strong>Warning!</strong>{{ message }}
                {% endfor %}
            </div>
        {% endif %}
    {% endblock %}
    {% block footer %}
{#        <nav class="navbar navbar-default navbar-fixed-bottom">#}
{#            <div class="container" style="width:100%;background:lightgrey;">#}
{#                <p class="text-center" style="margin-top: 5px;"> 意见反馈 京ICP证030173号</p><br>#}
{#                <p class="text-center" style="margin-bottom: 5px">京公网安备11000002000001号</p>#}
{#            </div>#}
{#        </nav>#}
    {% endblock %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.locale("zh_CN") }}
{% endblock %}